<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
</head>
<body>

<div>
    <h1>Temporary Testing Start Page</h1>
    <h3>
        <a th:href="@{/sign-up}">Registration</a>
         - compelitly ready to use and test!
    </h3>
</div>

<div th:each="user : ${users}">
    <div th:text="|User id  = ${user.id}|">User ID</div>
    <div th:text="|Login    = ${user.login}|">Login</div>
    <div th:text="|Password = ${user.password}|">Password</div>
    <hr>
</div>

</body>
</html>